@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?f1nl7s");
  src: url("fonts/icomoon.eot?f1nl7s#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?f1nl7s") format("truetype"),
    url("fonts/icomoon.woff?f1nl7s") format("woff"),
    url("fonts/icomoon.svg?f1nl7s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qrcode_scan:before {
  content: "\73";
}
.icon-qrcode:before {
  content: "\71";
}

body {
  background: rgb(254, 254, 254);
}

.left_to_right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  justify-items: center;
  align-items: center;
  flex: 0 0 auto;
}

.sidebar_container {
  width: auto;
  height: auto;
  background: #5C86EC;
  position: fixed;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  border-radius: 50px;
  z-index: 9999;
  align-items: center;
  display: flex;
  flex: content;
  flex-direction: column;
}

.round_btn {
  border-radius: 50%;
  background-color: #5C86EC;
  height: 55px;
  width: 55px;
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 40px; /* Set a font size */
  margin: auto;
  cursor: pointer; /* Mouse pointer on hover */
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scan {
  margin-top: -2.5px;
}

.active {
  background: #A6C6FF;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 400px;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}

#toplist {
  border-radius: 20px 20px 0px 0px;
  padding: 8px 16px;
  margin-bottom: 0px;
  font-size: x-large;
  background-color: #5C86EC;
  color: white;
  font-family: 'Sora', sans-serif;
}

.botlist {
  border-radius: 0px 0px 20px 20px;
  background-color: #f2f2f2;
  margin-top: 0px;
  font-size: large;
  color: #5C86EC;
  font-family: 'Sora', sans-serif;
}

.container {
  margin-left: 125px;
  border-radius: 25px;
  font-family: 'Sora', sans-serif;
  display: flex;
  flex-direction: row;
  font-size: x-large;
  width: auto;
  background-color: #A6C6FF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container #whatsinside {
  /*background-color: #dde8fc;*/
  background-color: #fcfcfc;
  color: #5C86EC;
  border-radius: 20px 0px 0px 20px;
  padding: 10px 10px 10px 10px;
  max-width: 33%;
}

.container #whatsinside img {
  width: 50%;
  float: right;
  padding-right: 20px;
}

.genForm {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  list-style-type: none;
}

.genForm > li > input,
.genForm > li > textarea,
.genForm > li > a {
  background-color: white;
  color: #5C86EC;
  border-radius: 25px;
  width: auto;
  border: none;
  font-size: large;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 10px;
  resize: none;
  font-family: 'Sora', sans-serif;
}

.genForm > li > select {
  background-color: white;
  color: #5C86EC;
  border-radius: 25px;
  font-size: large;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  stroke: none;
  border: none;
  appearance: none;
  font-family: 'Sora', sans-serif;
}

*:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
  appearance: none;
}

.genForm > li > button {
  background-color: white;
  color: #5C86EC;
  border-radius: 25px;
  font-size: large;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 15px;
  float: right;
  stroke: none;
  border: none;
  appearance: none;
  font-family: 'Sora', sans-serif;
}

.container > div > img {
  justify-content: end;
  right: 0px;
}

.container .dbinfo {
  display: flex;
  width: 100%;
  margin-left: 10px;
  flex-direction: row;
  list-style-type: none;
}

.container .dbinfo > div > p {
  padding: 5px;
}

.container .dbinfo #dbdesc_container {
  padding-right: 20px;
}

.container .scanimg canvas {
  padding-left: 25px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.container .dbinfo div{
  margin-left: 10px;
}